body{
    background-color: rgb(0, 170, 43);
}
#head{
    background-color: gray;
}
#survey-form{
    background-color: gray;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#background{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;

}
#rate-your-interaction{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#rate-your-experience{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}