*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-family: sans-serif;
}
#head{
    text-align: center;
    width: fit-content;
    margin: auto;
    width: 50%;  
}
#survey-form{
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
}

hr{
    width: 100%;
}

#background{
    display: flex;
    flex-direction: column;
}
#name-label{
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 1em;
}
#name{
    width: 15em;
}
#email-label{
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 1em;
}
#email{
    width: 15em;
}
#number-label{
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 1em;
}
#number{
    width: 15em;
}
#dropdown-label{
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 1em;
}
#dropdown{
    width: 15em;
}

#rate-your-experience{
    display: flex;
    flex-direction: column;
}
#comments-label{
    display: flex;
    flex-direction: column;
}
label{
    margin-top: 1em;
}